@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PT_Sans-Web-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

html { 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    } 
    
    *, 
    ::after, 
    ::before { 
    box-sizing: inherit; 
}

body {
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    scroll-behavior: smooth;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 280px;
    height: auto;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

 .item img{
    width: auto;
    height: 314px;
}

.mobile-hidden {
    display: none;
}

.main-header, .main-footer {
    background-color: #000;
}

.main-header__content-wr, .main-footer__content-wr, .products, .samogruz, .kran, .gruz-evakuator, .about-us{
    width: 320px;
    padding: 20px;
    margin: 0 auto;
}

.main-header__logo {
    display: block;
    margin: 0 auto;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #fff;
}

.links a {
    color: #fff;
}

.products__item {
    margin: 20px 0 60px 0;
}

.products__item h2 {
    color: #fec500;
    text-align: center;
    font-size: 28px;
    margin: 0 0 24px 0;
}

.products__item img {
    margin-bottom: 10px;
}

.btn {
    display: block;
    width: 200px;
    text-align: center;
    margin: 14px auto 0;
    padding: 6px 0;
    border: none;
    font-weight: 700;
    border-radius: 20px;
    color: #fff
}

.order {
    background-color: #058d05;
}

.more {
    background-color: #d57d01;
}

.order:hover, .more:hover, .order:focus, .more:focus {
    opacity: .8;
}

.order:active {
    background-color: #035403;
}

.more:active {
    background-color: #b65b03;
}

.samogruz__item {
    margin-bottom: 60px;
}

.samogruz__item h3 {
    text-align: center;
}

.samogruz__item table {
    font-size: 14px;
    margin: 0 auto;
}

.reviews h2 {
    text-align: center;
}

.map h2 {
    text-align: center;
}

.map__address {
    display: block;
    text-align: center;
    padding: 15px;
}

.kran h3 {
    text-align: center;
}

.kran table {
    font-size: 14px;
    margin: 0 auto;
}

.gruz-evakuator h3 {
    text-align: center;
}

.gruz-evakuator table {
    font-size: 14px;
    margin: 0 auto;
}

.about-us ul {
    margin-top: 44px;
}

.about-us li {
    font-size: 16px;
    padding-left: 60px;
    margin-bottom: 32px;
    position: relative;
}

.about-us li::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    background-repeat: no-repeat;
    background-size: 30px;
    top: -4px;
}

.about-us li:nth-of-type(1)::before {
    background-image: url(../img/icon/we1.png);
}

.about-us li:nth-of-type(2)::before {
    background-image: url(../img/icon/we2.png);
}

.about-us li:nth-of-type(3)::before {
    background-image: url(../img/icon/we3.png);
}

.about-us li:nth-of-type(4)::before {
    background-image: url(../img/icon/we4.png);
    top: 16px;
    height: 40px;
}

.about-us li:nth-of-type(5)::before {
    background-image: url(../img/icon/we5.png);
}

.about-us li:nth-of-type(6)::before {
    background-image: url(../img/icon/we6.png);
    top: 12px;
}

.about-us li:nth-of-type(7)::before {
    background-image: url(../img/icon/we7.png);
}

.map iframe {
    width: 100%;
    margin: 0 auto;
}

.more-hidden {
    background: #fdc400;
    border-radius: 20px;
    padding: 14px;
    margin-top: 30px;
    /* transition: transform 1s ease-in-out; */
    /* transform: translateY(-100%); */
    display: none;
}

.more-hidden ol {
    padding-left: 20px;
    font-weight: 500;
}

.close-mh {
    display: none;
}

.more-hidden li {
    padding-bottom: 6px;
}

.contacts-item {
    padding-left: 34px;
    padding-bottom: 6px;
    position: relative;
}

.contacts-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 4px;
    background-repeat: no-repeat;
    background-size: 20px;
}

.contacts-item:nth-of-type(1)::before{
    background-image: url(../img/icon/time.png);
    left: 2px;
}

.contacts-item:nth-of-type(2)::before{
    background-image: url(../img/icon/tel.png);
    background-size: 18px;
}

.contacts-item:nth-of-type(3)::before{
    background-image: url(../img/icon/geo.png);
    background-size: 15px;
}

.contacts-item:nth-of-type(4)::before{
    background-image: url(../img/icon/whatsapp.png);
}

.main-footer__contacts .contacts-item:nth-of-type(1)::before {
    left: 4px;
}

.reviews-flamp {
    padding-top: 30px;
    font-size: 14px;
    position: relative;
}

.reviews-flamp::before {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 7px;
    top: 0;
    background-repeat: no-repeat;
    background-size: 32px;
    background-image: url(../img/icon/flamp.png);
}

@media(min-width: 1024px) {

    .main-header {
        padding-bottom: 60px;
    }

    .about-us ul {
        width: 320px;
    }

    .about-us {
        background-color: #ccc;
        background-image: url(../img/about-us-bg.png);
        background-size: 616px 602px;
        background-repeat: no-repeat;
        background-position: top right;
        padding-left: 40px;
    }

    /* body { */
        /* font-size: 24px; */
    /* } */

    .mobile-hidden {
        display: block;
    }

    .main-header__content-wr, .main-footer__content-wr, .products, .samogruz, .kran, .gruz-evakuator, .about-us{
        width: 1024px;
    }

    .main-header__content-wr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-header__logo {
        margin: 0;
        height: 100%;
    }

    .main-header__contacts {
        display: flex;
        flex-wrap: wrap;
        width: 416px;
        justify-content: space-between;
        margin-right: 100px;
    }

    .links {
        margin-top: 0;
    }

    .btn {
        width: 234px;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 0;
        transform: translateY(-64px);
    }

    .products__item {
        margin-top: 0;
        margin-bottom: 0;
    }

    .products__item {
        width: 300px;
        min-height: 444px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
    }

    .products__item:nth-of-type(1) img {
        width: 280px;
        height: 240px;
        margin: 0 auto 30px;
    }

    .products__item:nth-of-type(2) img {
        width: 280px;
        height: 210px;
        margin: 0 auto 30px;
    }

    .products__item:nth-of-type(3) img {
        width: 280px;
        height: 176px;
        margin: 0 auto 30px;
    }

    .products__item h2 {
        margin-bottom: 46px;
        margin-bottom: auto;
    }

    .samogruz {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .samogruz h2 {
        width: 100%;
    }

    .samogruz__item {
        width: 480px;
    }

    .samogruz__item img {
        width: 440px;
        margin: 0 auto;
    }

    .samogruz__item:nth-of-type(2) img {
        margin-left: 24px;
    }

    .samogruz__item-info {
        border: 1px solid;
        border-radius: 24px;
        padding: 0 20px 26px 20px;
        margin-top: 24px;
        position: relative;
    }

    .samogruz__item-info table {
        font-size: 16px;
    }

    .kran, .gruz-evakuator {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        min-height: 474px;
    }

    .kran img {
        order: 1;
        width: 588px;
        height: 428px;
        align-self: center;
    }

    .gruz-evakuator img {
        height: 214px;
        order: 1;
        width: 588px;
        /* height: 428px; */
        align-self: center;
    }

    .kran__info, .gruz-evakuator__info {
        background: rgba(0,0,0, 0.1);
        padding: 40px;
        position: relative;
        min-width: 324px;
    }

    .kran__info .order, .gruz-evakuator__info .order {
        position: absolute;
        bottom: 156px;
    }

    .kran__info .more, .gruz-evakuator__info .more {
        position: absolute;
        bottom: 110px;
    }

    .kran__info table, .gruz-evakuator__info table {
        font-size: 16px;
    }

    .desktop-more {
        /* display: block; */
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin-top: 0;
        font-size: 18px;
        padding: 24px;
    }

    .samogruz .desktop-more {
        padding: 24px 60px;
    }

    .desktop-more span {
        font-size: 22px;
    }

    .desktop-more .btn {
        position: absolute;
        left: calc(50% - 117px);
        bottom: 30px;
    }

    .yellow-bg {
        background-color: #fec500;
    }

    .map iframe {
        height: 400px;
    }

    .close-mh {
        display: block;
        position: absolute;
        right: 14px;
        top: 16px;
        background: transparent url(../img/icon/close.svg) no-repeat;
        background-size: 12px;
        border: none;
        width: 12px;
        height: 12px;

    }
    
    .gallery {
        width: 1024px;
        margin: 0 auto;
    }

    main .yel-line {
        text-align: left;
        position: relative;
        font-size: 28px;
    }

    .yel-line::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -8px;
        width: 55px;
        height: 6px;
        background-color: #fdc400;
    }

    .products__item h2:hover ~ .products__item-bg {
        position: absolute;
        background-color:rgba(0,0,0, 0.1);
        width: 100%;
        height: 100%;
        transform: translateY(30px);
        box-shadow: 0 0 8px 4px rgba(0,0,0,0.1);
        border-radius: 5px;
    }
    
    .main-footer__content-wr {
        padding: 30px 238px;
    }

    .main-footer__contacts {
        display: flex;
        flex-wrap: wrap;
        width: 416px;
        justify-content: space-between;
        margin-right: 82px;
    }

    .main-footer__contacts .contacts-item:nth-of-type(1)::before {
        left: 2px;
    }

    
}